.App {
  text-align: center;
}
.admin{
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 300px;
  margin: 0 auto;
  gap: 0.5rem;
}
input{
  padding: 6px;
  border-radius: 5px;
  background-color: #ccc;
  border: none;
}
button{
  width: 100px;
  margin: 0 auto;
  padding: 4px;
  border-radius: 5px;
}
button:hover{
  background-color: black;
  color: whitesmoke;
}
img{
  height: 100px;
  width: 150px;
  object-fit: cover;
}
.products{
  border: 1px solid red;
  width: 200px;
  height: 330px;
}
.carts{
  border: 1px solid red;
  width: 200px;
  height: 330px;
  
}
.product-div{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem auto;
}
.btn{
  width: 30px;
  margin-right: 5px;
}
.billing{
  border: 1px solid rgb(0, 183, 255);
  height: 40px;
  width: 200px;
  margin: auto;
  padding-bottom: 15px;
  margin-bottom: 3rem;
}